@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1{
    font-family: 'Alex Brush', cursive;
    font-size: 60px !important;
}
h2,h3{
    font-family: 'Roboto Slab', serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#ced8db;
}
.primary{
    background-color: #d35a52;
}
.secondary{
    background-color: #f3d175;
}
.light{
    background-color: #eac4c1;
}
.dark{
    background-color: #83b8cf;
}
.grey{
    background-color: #ced8db;
}

/*Todos los titulos que esten en fondo dark**/
.primary h1, .primary h2, .primary h3, .primary h4,.primary h5,.primary h5{
  color:#ced8db;
}
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5,.secondary h6{
  color:#d35a52;
}
.light h1,.light h2,.ligth h3,.light h4,.light h5,.light h6{
    color: #83b8cf;
}
.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{
    color: #f3d175;
}

/*Header*/
header{
    background-image: url('../images/2.jpg');
}
header::after{
    background-image: url('../images/1.png');
    content: "";
    width: 100%;
    display: block;
    height: 50px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 1600px 50px;
    position: absolute;
    bottom: 415px;
    z-index: 1;
}
/*Banner principal*/
#banner_principal{
    padding: 50px 0 50px 0;
}
#banner_principal img#logoRoi {
  width: 450px;
  height: 150px;
  margin: 25px 0 25px 0;
}
#banner_principal h1{
  color:#ced8db;
  font-size:65px !important;
}
#banner_principal p {
    margin: 25px 0 25px 0 ;
    font-size: 21px;
}

/*Descripcion Webinar*/
#descripcion_webinar{
    padding: 75px 0 75px 0;
    background-color: #9bbdd9;
}

#descripcion_webinar::after{
    background-image: url('../images/2.png');
    content: " ";
    width: 100%;
    display: block;
    height: 50px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 1600px 50px;
    position: absolute;
    bottom: 80px;
    z-index: 1;
}
/*Descripción Regalo*/
#descripcion_regalo{
    padding: 50px 0 50px 0;
}
#descripcion_regalo::after{
    background-image: url('../images/3.png');
    content: "asdfas ";
    width: 100%;
    display: block;
    height: 50px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 1600px 50px;
    position: absolute;
    bottom: -330px;
    z-index: 1;
}
/*Facilitadoras*/
#facilitadoras{
  padding: 50px 0 50px 0;
}
#facilitadoras::after{
    background-image: url('../images/4.png');
    content: "asdfas ";
    width: 100%;
    display: block;
    height: 50px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 1600px 50px;
    position: absolute;
    bottom: -980px;
    z-index: 1;
}
#facilitadoras img.facilitadora-img{
    width: 300px;
    height: 290px;
}
/*Descripcion Programa continuum*/
#continuum_ilc{
  padding: 30px 0;
}
#continuum_ilc:after{
  padding: 30px 0;
  background-image: url('../images/5.png');
  content: " ";
  width: 100%;
  display: block;
  height: 50px;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 1600px 50px;
  position: absolute;
  bottom: -1490px;
  z-index: 1;
}

/*Testimonios*/
#testimonios{
  padding: 50px 0 50px 0;
}
#testimonios::after{
    padding: 30px 0;
    background-image: url('../images/6.png');
    content: " ";
    width: 100%;
    display: block;
    height: 50px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 1600px 50px;
    position: absolute;
    bottom: -1850px;
    z-index: 1;
}

/*Liston Pregunta*/
#liston_unirte{
    text-align: center;
    padding: 50px 0;
}
#liston_unirte::after{
    padding: 30px 0;
    background-image: url('../images/7.png');
    content: " ";
    width: 100%;
    display: block;
    height: 50px;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 1600px 50px;
    position: absolute;
    bottom: -2080px;
    z-index: 1;
}


#testimonios .row{
  height: 250px;
}

#testimonios h1 {
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
}
/*LogosPatrocinadores*/
#logos_patrocinadores{
  height: 200px;
}
#logos_patrocinadores .container{
  border-top: 2px solid #448fa3;
}

#logosPatrocinadores .logos{
  width: 50%;
  height: 125px;
  margin: 25px 0 25px 0;
}
