@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1{
    font-family: 'Alex Brush', cursive;
    font-size: 60px !important;
}
h2,h3{
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#ced8db;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #83b8cf;
    border-color: #83b8cf;
}

.btn-outline-primary {
    color: #83b8cf;
    background-color: transparent;
    background-image: none;
    border-color: #83b8cf;
}

.primary{
    background-color: #d35a52;
}
.secondary{
    background-color: #f3d175;
}
.light{
    background-color: #eac4c1;
}
.dark{
    background-color: #83b8cf;
}
.grey{
    background-color: #ced8db;
}

/*Todos los titulos que esten en fondo dark**/
.primary h1, .primary h2, .primary h3, .primary h4,.primary h5,.primary h5{
  color:#ced8db;
}
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5,.secondary h6{
  color:#d35a52;
}
.light h1,.light h2,.ligth h3,.light h4,.light h5,.light h6{
    color: #83b8cf;
}
.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{
    color: #f3d175;
}

/*Header*/
header{
    background-image: url('../images/2.jpg');
}

.hidden_contenedor{
    overflow: hidden;
}

.separador{
    height: 80px;
}

.espacio_bajo{
    margin-bottom: 50px;
}


/*Banner principal*/
#banner_principal{
    padding: 50px 0 0 0;
}
#banner_principal .logo img {
  width: 75px;
  height: 75px;
  margin: 25px 0 25px 0;
}
#banner_principal h1{
  color:#ced8db;
  font-size:65px !important;
}
#banner_principal p {
    margin: 25px 0 25px 0 ;
    font-size: 21px;
}

#banner_principal .video{
    padding: 50px 0 !important;
}

/*Modal Styles*/
.modal-title h1 {
    text-align: center;
}/*No funciona*/


/*Descripcion Webinar*/
#descripcion_webinar{
    padding: 0 0 0 0;
    background-color: #83b8cf;
    background-image: url("../images/fondo_azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

ul.lista{
    list-style-image: url("../images/p1.png")
}
li{
    margin-bottom: 60px;
    font-size: 25px;
}
li.liston_pintura {
background: url('../images/p1.jpg') no-repeat center center;
height: 10px;
}

/*Descripción Regalo*/
#descripcion_regalo{
    padding: 0 0 0 0;
    background-color: #83b8cf;
    background-image: url("../images/fondo_rosa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#descripcion_regalo img#regalo{
    height: 300px;
    width: 300px;
}
/*Facilitadoras*/
#facilitadoras{
    padding: 0 0 0 0;
    background-color: #ced8db;
    background-image: url("../images/fondo_rosfa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;    
}
#facilitadoras img.facilitadora-img{
    width: 300px;
    height: 290px;
}
/*Descripcion Programa continuum*/
#continuum_ilc{
  padding: 0 0 0 0;
    background-color: #83b8cf;
    background-image: url("../images/fondo_azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/*Testimonios*/
#testimonios{
  padding: 0 0 0 0;
    background-color: #83b8cf;
    background-image: url("../images/fondo_rosa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/*Liston Pregunta*/
#liston_unirte{
    text-align: center;
    padding: 0 0;
    background-color: #83b8cf;
    background-image: url("../images/fondo_rojo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


#testimonios .row{
  height: 250px;
}

#testimonios h1 {
    font-size: 37px;
    text-align: center;
}
/*LogosPatrocinadores*/
#logos_patrocinadores{
  height: 200px;
}
#logos_patrocinadores .container{
  border-top: 2px solid #448fa3;
}

#logosPatrocinadores .logos{
  width: 50%;
  height: 125px;
  margin: 25px 0 25px 0;
}
